@charset "utf-8";

body{background-color: black;}
*{color:floralwhite;}

#homeLoader{position:relative;top:0;left:0;width:100%;height:80vh;z-index:4; background-color: sandybrown;}


#homeLoader .wrapper{position:absolute;width:100%;height:100%}


#homeLoader .wrapper.hide .text .wrapper__title{-webkit-transform:translateY(-10vh);
    transform:translateY(-10vh);
    opacity:0;
    -webkit-transition:transform 1.4s ease-in 0s,opacity 1.4s ease-in 0s;
    -webkit-transition:opacity 1.4s ease-in 0s,-webkit-transform 1.4s ease-in 0s;
    transition:opacity 1.4s ease-in 0s,-webkit-transform 1.4s ease-in 0s;
    transition:transform 1.4s ease-in 0s,opacity 1.4s ease-in 0s;
    transition:transform 1.4s ease-in 0s,opacity 1.4s ease-in 0s,-webkit-transform 1.4s ease-in 0s}
#homeLoader .wrapper.hide .text2{-webkit-transform:translateY(-10vh);
    transform:translateY(-10vh);opacity:0;
    -webkit-transition:transform 1.4s ease-in 0s,opacity 1.4s ease-in 0s;
    -webkit-transition:opacity 1.4s ease-in 0s,-webkit-transform 1.4s ease-in 0s;transition:opacity 1.4s ease-in 0s,-webkit-transform 1.4s ease-in 0s;
    transition:transform 1.4s ease-in 0s,opacity 1.4s ease-in 0s;
    transition:transform 1.4s ease-in 0s,opacity 1.4s ease-in 0s,-webkit-transform 1.4s ease-in 0s}
#homeLoader .wrapper.hide .circle{top:calc(-9vw - 10vh);opacity:0 !important;
    -webkit-transition:top 1.4s ease-in 0s,opacity 1.4s ease-in 0s;
    transition:top 1.4s ease-in 0s,opacity 1.4s ease-in 0s}
#homeLoader .wrapper.show .text .wrapper__title{-webkit-transform:translateY(0);transform:translateY(0);
    opacity:1;
    -webkit-transition:transform 1.4s ease-out 0s,opacity 1.4s ease-out 0s;
    -webkit-transition:opacity 1.4s ease-out 0s,-webkit-transform 1.4s ease-out 0s;
    transition:opacity 1.4s ease-out 0s,-webkit-transform 1.4s ease-out 0s;
    transition:transform 1.4s ease-out 0s,opacity 1.4s ease-out 0s;
    transition:transform 1.4s ease-out 0s,opacity 1.4s ease-out 0s,-webkit-transform 1.4s ease-out 0s}
#homeLoader .wrapper.show .text2{-webkit-transform:translateY(0);transform:translateY(0);
    opacity:1;
    -webkit-transition:transform 1.4s ease-out 0s,opacity 1.4s ease-out 0s;
    -webkit-transition:opacity 1.4s ease-out 0s,-webkit-transform 1.4s ease-out 0s;
    transition:opacity 1.4s ease-out 0s,-webkit-transform 1.4s ease-out 0s;
    transition:transform 1.4s ease-out 0s,opacity 1.4s ease-out 0s;
    transition:transform 1.4s ease-out 0s,opacity 1.4s ease-out 0s,-webkit-transform 1.4s ease-out 0s}
#homeLoader .wrapper.show .circle{top:-9vw;
    opacity:1 !important;
    -webkit-transition:top 1.4s ease-out 0s,opacity 1.4s ease-out 0s;
    transition:top 1.4s ease-out 0s,opacity 1.4s ease-out 0s}
#homeLoader .wrapper .circle{
    position:absolute;
    top:-9vw;
    right:-7vw;
    z-index:2;
    width:34.375vw;
    opacity:1; /**opacity결정**/
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    -webkit-animation-name:animation-rotation-dots;
    animation-name:animation-rotation-dots;
    -webkit-animation-duration:30s;
    animation-duration:30s;
    -webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;animation-timing-function:linear}
#homeLoader .wrapper .circle svg{width:100%;display:block;
    height:auto;
    fill:var(--subColor)}

#homeLoader .wrapper .text{
    /* position:absolute; */ /*확인*/
    bottom:2vw;
    left:6.25vw}

#homeLoader .wrapper .text .wrapper__title{position:relative;
    display:block;
    -webkit-transform-origin:center top;
    transform-origin:center top;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d}
#homeLoader .wrapper .text .wrapper__title h2{color:#fff;font-family:"Monument Grotesk";
    font-weight:normal;font-size:9vw;line-height:9vw;
    -webkit-font-smoothing:antialiased;
    -webkit-transform:translateY(50%);
    transform:translateY(50%);opacity:1}/**opacity결정**/

#homeLoader .wrapper .text .wrapper__title h2 span{
    position:relative;
    display:inline-block}
#homeLoader .wrapper .text .wrapper__title h2.textColor{
    position:absolute;
    top:0;left:0;color:#fff;font-family:"Monument Grotesk";font-weight:normal;font-size:9vw;-webkit-text-stroke:0px}

#homeLoader .wrapper .text .wrapper__title h2.textColor span{clip-path:polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-clip-path:polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    -o-clip-path:polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    -ms-clip-path:polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)}
#homeLoader .wrapper .text .wrapper__title:last-of-type h2{color:#fff;font-family:"Monument Grotesk";font-weight:normal;font-size:9vw}

#homeLoader .wrapper .text2 .wrapper__desc{position:relative;overflow:hidden;-webkit-transform:translateY(10vh);
    transform:translateY(10vh);opacity:1}/**opacity결정**/
#homeLoader .wrapper .text2 .wrapper__desc .title-projects.mobile{
    position:relative;margin-top:2.5rem}
#homeLoader .wrapper .text2 .wrapper__desc .title-projects.mobile h2{
    line-height:1.4rem;color:#fff;
    font-family:"Monument Grotesk";
    font-weight:normal;
    font-size:1.4rem;text-align:center}
#homeLoader .wrapper .text2 .wrapper__desc p{
    font-family:"Monument Grotesk";
    font-weight:normal;font-size:20px;
    line-height:30px}

#homeLoader .wrapper .text2 .wrapper__desc:first-of-type p{
    color:#fff;
    font-family:"Monument Grotesk";
    font-weight:normal;
    font-size:30px;
    line-height:40px;
    margin-bottom:2vh}




/* RESET */
* {
    margin: 0;
    padding: 0;
    color: #333;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

button,
input {
    border-radius: 0;
    border: 0;
    background: none;
}

ol,
ul {
    list-style: none
}



/* SETTING */



.wrap {
    width: 100%;
    height: 100%;
    
}




body {
    overflow: overlay;
}


/* HEADER */
header {
    position: fixed;
    width: 100%;
}

.logo {
    margin: 40px;
    width: 85px;
    height: 50px;
    display: block;
}

.logo img {
    width: inherit;
}

nav {
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translate(-50%, -50%);
    width: 18px;
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

nav li {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #112152;
    transition: .35s ease-in-out;
    cursor: pointer;
}

nav li.on {
    height: 18px;
    width: 18px;
    background-color: #F4AA08;
}

nav li.on span {
    color: #F4AA08;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    transition: .35s ease-in-out;
}

nav li span{
    display: block;
    color: #112152;
    margin-left: -120px;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    font-weight: 600;
    transition: .35s ease-in-out;
    width: 0;
    opacity: 0;
    visibility: hidden;
}






