@charset "utf-8";

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#homeLoader {
    font-family: 'SBAggroB';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
}


#homeLoader .wrapper {
    width: 100%;
    height: 100%;
    color: rgb(202, 202, 202);
}


#homeLoader .wrapper .text {
    position: absolute;
    /*확인*/
    bottom: 4vw;
    /* left: 6.25vw; */
    right: 6.25vw;
    font-size: 60px;
    font-weight: bold;
    /* border: 2px solid firebrick; */
    color: rgb(202, 202, 202);
}

#homeLoader .wrapper .text .wrapper__title:last-of-type h2 {
    color: rgb(202, 202, 202);

    font-size: 8vw
}

#homeLoader .wrapper .text .wrapper__title:last-of-type h2 b {
    color: rgb(202, 202, 202);
    font-size: 10vw
}

#homeLoader .wrapper .text2 .wrapper__desc:first-of-type p {
    color: rgb(202, 202, 202);
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}




/* RESET */
* {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

button,
input {
    border-radius: 0;
    border: 0;
    background: none;
}

ol,
ul,
li {
    list-style: none
}

a{
    color: aliceblue;
}



/* SETTING */









/* HEADER */
header {
    position: fixed;
    width: 100%;
}

.logo {
    margin: 40px;
    width: 85px;
    height: 50px;
    display: block;
}

.logo img {
    width: inherit;
}

/* .container {
    position: fixed;
    top: 40%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: max-content;
    display: block;
} */

.container ul {
    width: max-content;
    height: max-content;
    margin: 40% auto;    
}

.container ul li {
    font-family: 'RIDIBatang';
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 42px;
    text-align: left;
    font-size: 16px;
    

}

.container ul li p {
    display: inline-block;
    width: 7.2px;
    height: 7px;
    margin-bottom: 1px;
    margin-right: 3px;
    background-color: rgb(79, 165, 151);
    border-radius: 50rem;
    
}

.conatiner ul li a {
    color: seashell;
    display: inline-block;
}

.side-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100% !important;
    background-color: rgba(99, 109, 109, 0.699);
    border-right: 1px solid rgba(136, 113, 113, 0.07);
    box-shadow: 0 0 15px rgb(0, 0, 0/ 7%);
    z-index: 2;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container a{
    /* border: 2px solid rgb(226, 228, 226); */
    margin: 10% auto;
    display: block;
}

.container a img{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(219, 209, 219);
    border-radius: 50rem;
}

.container a span{
    display: block;
    /* border: 2px solid rgb(238, 217, 217); */
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'RIDIBatang'; 
}



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* body { overflow:hidden;} */
.wrap {
    overflow: hidden;
}


#project {
    overflow: hidden;
    /* border: 5px solid floralwhite;  */
    position: relative;
}

.wrap {
    height: 900px;
    width: 1000%;
    position: relative;
}

/* width값 수정하시오. .box 갯수 x 100% */
.box {
    height: 100%;
    width: 100%;
    position: relative;
    color: #ffffff;
    font-size: 24pt;
    float: left;
    width: calc(100%/5);
    /* calc의 값을 수정하시오.  100% / .box 갯수 */

}

.myself_wrap {
    width: 1300px;
    height: 80%;
    margin-top: 2%;
    margin-left: 10%;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 3;
}
.myself_wrap .ab_1{
    width: 100%;
    height: 50px;
    /* border: 3px solid rgb(255, 255, 255); */
    border-bottom: 2px solid floralwhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
}
.myself_wrap .ab_1 .c1{
    width: 50%;
    height: 50px;
    background-color: rgb(86, 134, 136);
    clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
    border-top-right-radius:10rem ;
    z-index: 1;   
}
.myself_wrap .ab_1 .c1 p{
    text-align: left;
}
.myself_wrap .ab_1 .c1 p span{
    font-size: 20px;
}
.myself_wrap .ab_1 .c1 p .X{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10% 0 0 48%;
    color: black;
    font-size: 40px;
}
.myself_wrap .ab_1 .c2{
    width: 12%;
    height: 50px;
    margin-left: -50px;
    background-color: rgb(219, 219, 219);
    clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
    border-top-right-radius:10rem ;  
}
.myself_wrap .ab_1 .c2 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -6% 0 0 53%;
    color: black;
    font-size: 60px;
}
.myself_wrap .ab_1 .c3{
    width: 10%;
    height: 50px;
    margin: 0 0 0 40%;
    display: flex;
    justify-content: space-evenly;
    
    
}
.myself_wrap .ab_1 .c3 div{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(86, 134, 136);

    text-align: center;
    margin: 0 3%;
}

.myself_wrap .ab_2{
    width: 100%;
    height: 120px;
    border: 1px solid floralwhite;
    display: flex;
}
.myself_wrap .ab_2 div{
    border: 1px solid white;
}
.myself_wrap .ab_2 .d1{
    width: 20%;
    height: 120px;
}
.myself_wrap .ab_2 .d1 .d1_bt{
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 3%;
}
.myself_wrap .ab_2 .d1 .d1_bt button{
    width: 80px;
    height: 50px;
    border: 1px solid wheat;
    color: #ffffff;
    margin: 12% 3.5%;
}
.myself_wrap .ab_2 .d2{
    width: 50%;
    height: 120px;    
}
.myself_wrap .ab_2 .d2 .d2_search{
    width: 90%;
    height: 50%;
    background-color: rgb(86, 134, 136);
    border-radius: 10rem;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid rgb(206, 205, 205);
}
.myself_wrap .ab_2 .d2 .d2_search span{
    font-size: 27px;
    margin: 3%;
    padding: 1%;
}
.myself_wrap .ab_2 .d3{
    width: 30%;
    height: 120px;
}



#intro {
    height: 600px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 100px auto;

}

#intro_title {
    height: 200px;
    border: 3px solid floralwhite;
    width: 800px;
    position: absolute;
    bottom: 150px;
    left: 150px;
}

.down {
    font-size: 60px;
    width: max-content;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.up {
    font-size: 60px;
    width: 100%;
    text-align: center;
    height: auto;
    margin: 0 auto;
    border: 2px solid white;
    z-index: 1;
}

.name {
    display: inline;
    vertical-align: middle;
    font-size: 15vh;
    width: 500px;
    height: 150px;
    border-bottom: 5px solid rgb(230, 230, 230);
    letter-spacing: 10px;
    color: rgb(79, 165, 151);

}