@charset "utf-8";

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
a{text-decoration: none;}

#homeLoader{
    font-family: 'SBAggroB';
    position:relative;
    top:0;left:0;
    width:100%;
    height: 100%;
    z-index:4; 
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
}


#homeLoader .wrapper{
    width:100%;
    height:100%;
    color:rgb(202, 202, 202);
}


#homeLoader .wrapper .text{
    position:absolute; /*확인*/
    bottom:4vw;
    left:6.25vw;
    font-size:60px;
    font-weight: bold;
    /* border: 2px solid firebrick; */
    color:rgb(202, 202, 202);
}

#homeLoader .wrapper .text .wrapper__title:last-of-type h2{
    color:rgb(202, 202, 202);

    font-size:8vw}

    #homeLoader .wrapper .text .wrapper__title:last-of-type h2 b{
        color:rgb(202, 202, 202);
        font-size:10vw}

#homeLoader .wrapper .text2 .wrapper__desc:first-of-type p{
    color:rgb(202, 202, 202);
    font-weight:normal;
    font-size:30px;
    line-height:40px;
    }




/* RESET */
* {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

button,
input {
    border-radius: 0;
    border: 0;
    background: none;
}

ol,
ul,
li{
    list-style: none
}



/* SETTING */









/* HEADER */
header {
    position: fixed;
    width: 100%;
}

.logo {
    margin: 40px;
    width: 85px;
    height: 50px;
    display: block;
}

.logo img {
    width: inherit;
}

nav {
    position: fixed;
    top: 40%;
    right: 5%;
    transform: translate(-50%, -50%);
    width: max-content;
    display: block;
}

nav ul {
display: block;

}

nav li {
    font-family: 'RIDIBatang';
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 11px;
    
}

nav li p{
    display: inline-block;
    width: 3.2px;
    height: 22px;
    margin-bottom: -5px;
    margin-right: 3px;
    background-color:rgb(79, 165, 151);
}
nav li a{
    color: seashell;
    display: inline-block;
}



html,body{ margin:0; padding:0; width:100%; height:100%;}
		/* body { overflow:hidden;} */
       .wrap{overflow: hidden;}

    
        #project{
            overflow: hidden; 
            /* border: 5px solid floralwhite;  */
            position: relative;
        }

		.wrap { height:900px; width:1000%; position: relative; } /* width값 수정하시오. .box 갯수 x 100% */
        .box{ 
             height:100%; 
             width:100%; 
             position:relative; 
             color:#ffffff; 
             font-size:24pt; float:left;
              width:calc(100%/5); /* calc의 값을 수정하시오.  100% / .box 갯수 */
           
            }
        .myself_wrap{
            width: 1200px;
            height: 80%;
            margin-left: 5%;
            border: 5px solid rgb(255, 255, 255);
            border-radius: 10px;
        }
        .wrp{
            width: 400px;
            height: 70%;
            margin-top: 9%;
            margin-left: 3%;
            border: 5px solid rgb(255, 255, 255);
            border-radius: 10px;
        }
        .wrp img{
            width: 1000px;
            height: 1000px;
        }
        
        #intro{
            height: 600px; width: 70%; 
            background-color: rgba(255, 255, 255, 0.2);
            margin: 100px auto; 
            
        }
            
        #intro_title{
            height: 200px; 
            border: 3px solid floralwhite;
            width: 800px; 
            position:absolute; 
            bottom: 150px;
            left: 150px;
        } 

        .down{
            font-size: 60px;
            width: max-content;
            height: auto;
            margin: 0 auto;
            cursor: pointer;
        }

        .up{
            font-size: 60px;
            width: 100%;
            text-align: center;
            height: auto;
            margin: 0 auto;
            border: 2px solid white;
           z-index: 1;
        }   
        
        .name{
            display: inline; vertical-align: middle;
            font-size: 15vh;
            width: 500px;
            height: 150px;
            border-bottom: 5px solid rgb(230, 230, 230);
            letter-spacing: 10px;
            color: rgb(79, 165, 151);
           
        }






